.card{
    width: 600px;
    min-height: 200px;
    background: cornflowerblue;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.img{
    overflow: hidden;
    border-radius: 50%;
    outline: 3px solid grey;
    outline-offset: 10px;
    margin-right: 15px;
}

.loading{
    background: grey;    
}

.loading .img,
.loading .text{
    display: none;
}
